.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.carrusel{
  background-color: transparent;

}
.carru{
  width: 80%;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.Images {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.App-header {

	height: 96vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;
	background-image: linear-gradient(180deg,
			#6630d9 0%,
			hsl(261deg 62% 51%) 8%,
			hsl(263deg 56% 50%) 16%,
			hsl(265deg 50% 50%) 22%,
			hsl(269deg 48% 52%) 29%,
			hsl(273deg 46% 54%) 35%,
			hsl(276deg 43% 56%) 42%,
			hsl(290deg 36% 56%) 49%,
			hsl(304deg 32% 58%) 56%,
			hsl(316deg 34% 62%) 64%,
			hsl(346deg 70% 70%) 73%,
			hsl(11deg 95% 72%) 84%,
			#f2a950 100%);
}

.App-header h2 {
	font-size: 4vmin;
	text-align: center;
	margin-left: 16vmin;
	margin-right: 16vmin;
}



h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 15vmin;
	line-height: 15vmin;

}

h2 {
	text-align: center;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
}




.secc ul {
	margin-left: 2em;
}

.secc2 ul {
	margin-left: 2em;
}

p {

	text-align: justify;
}

body {
	
}

img {
	margin: 1em;
	max-width: 60vw;
	max-height: 11vh;
}

.center {
	text-align: center;
	width: 100vw;

}

.menu {
	align-items: ;
}

.gradient-text {
	
	color: transparent;
	background: conic-gradient(#D9D7F1 12%,
			#BAABDA 12%, #BAABDA 33%,
			#E7FBBE 33%, #E7FBBE 55%,
			#FFCBCB 55%, #FFCBCB 70%,
			#B5DEFF 70%, #B5DEFF 87%,
			#F7D1BA 87%);
	background-size: 50%;
	background-clip: text;
	-webkit-background-clip: text;

	animation: expand-rev 0.5s ease forwards;

	cursor: pointer;
}

.gradient-text:hover {
	animation: expand 0.5s ease forwards;
}

.secc {
	font-size: calc(8px + 2vmin);
	margin-bottom: 2vh;
	margin-top: 2vh;
	margin-left: 2vw;
	margin-right: 2vw;

	padding: 7vmin;
	color: white;
	border-radius: 35px;
	background-color: #6530D9;
}

.secc2 {
	font-size: calc(8px + 2vmin);
	max-width: 450px;
	margin-bottom: 2vh;
	margin-top: 2vh;
	margin-left: 2vw;
	margin-right: 2vw;
	padding: 7vmin;
	border-radius: 35px;
	background-color: #985EBF;
	color: white;
}

iframe{
	width: 80vw;
	height: 80vh;
}
.all {

	display: flex;
	
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.todo {
	font-size: calc(8px + 2vmin);
	width: 100vw;
	margin-bottom: 2vh;
	margin-top: 2vh;
	margin-left: 2vw;
	margin-right: 2vw;
	padding: 7vmin;
	border-radius: 35px;
	background-color: #985EBF;
	color: white;
}

.topics {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100vw;
}

.topics #cmt {
	border-radius: 50%;
	margin: 10px auto 10px;
	display: block;
}

.topics #cent {
	text-align: center;
}

.slider {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.comm {
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;
	justify-content: center;

}

.tam {
	width: 30%;
	font-size: calc(2px + 1vmin);
	padding: 1vmin;
}

.seccpast {
	display: flex;
	flex-wrap: wrap;
	font-size: calc(8px + 2vmin);
	margin-bottom: 2vh;
	margin-top: 2vh;
	margin-left: 2vw;
	margin-right: 2vw;
	justify-content: center;
	padding: 7vmin;
	color: white;
	border-radius: 35px;
	
}

.menu2 p {
	margin: 0 0 5px;
}

.menu2 a,
label {
	text-decoration: none;
	font-size: calc(8px + 2vmin);
	color: #fff;
	font-weight: bold;
	border-radius: 35px;
}

.menu2 a:hover {
	color: #ddd;
}

.menu2 a {
	display: block;
	padding: 10px 15px;
}

.drop-down a {
	min-width: 90px;
}

.drop-down-menu {
	display: block;
}

.menu-title {
	cursor: pointer;
}

.menu-title {
	display: block;
	padding: 10px 15px;
}

.activate {
	display: none;

	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 40px;
	margin: 0 0 0 -15px;
	opacity: 0;
}

/* Skin */

.menu2 a,
.drop-down-menu {
	
}

.menu2 a:hover,
.drop-down-menu:hover {
	
}

.drop-down a {
	
}

.drop-down a:hover {
	
}


.menu2 {
	background-color: #6530D9;
	width: 100vw;
	margin-bottom: 2vh;
	margin-top: 2vh;
	margin-left: 2vw;
	margin-right: 2vw;
	padding: 7vmin;
	border-radius: 35px;
	text-align: center;
	color:white;
}

:checked~.menu-title {
	background: #495261;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #495261), color-stop(100%, #38404b));
	background: -moz-linear-gradient(top, #495261 0%, #38404b 100%);
}

.drop-down {
	max-height: 0;
	overflow: hidden;
}

.drop-down a {
	background: #222;
}

.activate:checked~.drop-down {
	max-height: 1600px;
}

.drop-down,
.menu2 a,
.drop-down-menu {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}


@keyframes expand {
	0% {
		background-size: 50%;
		background-position: 0 0;
	}

	20% {
		background-size: 55%;
		background-position: 0 1em;
	}

	100% {
		background-size: 325%;
		background-position: -10em -4em;
	}
}

@keyframes expand-rev {
	0% {
		background-size: 325%;
		background-position: -10em -4em;
	}

	20% {
		background-size: 55%;
		background-position: 0 1em;
	}

	100% {
		background-size: 50%;
		background-position: 0 0;
	}
}



body {
	overflow-x: hidden;
	font-family: Sans-Serif;
	
  }
  
  .menu-container {
	position: relative;
	display: flex;
	align-items: center;
	
	background: #6630d9;
	color: #ffffff;
	padding: 20px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
	box-sizing: border-box;
  }
  
  .menu-container a {
	text-decoration: none;
	color: #6630d9;
	transition: color 0.3s ease;
  }
  
  .menu-container a:hover {
	color: #bf7eae;
  }
  
  .menu-container input {
	display: block;
	width: 35px;
	height: 25px;
	margin: 0;
	position: absolute;
	cursor: pointer;
	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */
	-webkit-touch-callout: none;
  }
  
  /* Burger menu */
  .menu-container span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #ffffff;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.55s ease;
  }
  
  .menu-container span:first-child {
	transform-origin: 0% 0%;
  }
  
  .menu-container span:nth-child(3) {
	transform-origin: 0% 100%;
  }
  
  .menu-container input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(3px,-1px);
	background: #6630d9;
  }
  
  .menu-container input:checked ~ span:nth-child(4) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .menu-container input:checked ~ span:nth-child(3) {
	transform: rotate(-45deg) translate(-5px,11px);
  }
  
  .menu ul {
	list-style: none;
  }
  
  .menu li {
	padding: 10px 0;
	font-size: 22px;
  }
  
  /* mobile styles */
  @media only screen and (max-width: 602px) { 
	.menu-container {
	  flex-direction: column;
	  align-items: flex-start;
	}
	
	.menu {
	  position: absolute;
	  box-sizing: border-box;
	  width: 300px;
	  left: -300px;
	  top: 0;
	  margin: -20px;
	  padding: 75px 50px 50px;
	  background: #ffffff;
	  -webkit-font-smoothing: antialiased;
	  /* to stop flickering of text in safari */
	  transform-origin: 0% 0%;
	  transform: translateX(0%);
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
  
	.menu-container input:checked ~ .menu {
	  transform: translateX(100%);
	}
  }
  
  /* desktop styles */
  @media only screen and (min-width: 603px) { 
	.menu-container {
	  width: 100%;
	}
  
	.menu-container a {
	  color: #ffffff;
	}
  
	.menu-container input {
	  display: none;
	}
  
	/* Burger menu */
	.menu-container span {
	  display: none;
	}
  
	.menu {
	  position: relative;
	  width: 100%;
	  display: flex;
	  justify-content: center;
	}
  
	.menu ul {
	  display: flex;
	  padding: 0;
	}
  
	.menu li {
	  padding: 0 20px;
	}
  }